@import "tailwindcss";

:root {
  --theme: #150131;
}

/* Animations */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes tilt {
  0%,
  100% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(2deg);
  }
}

.animate-tilt {
  animation: tilt 6s ease-in-out infinite;
}

@keyframes fallTopLeft {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translate(-100px, 100vh);
    opacity: 0;
  }
}

@keyframes fallTopRight {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translate(100px, 100vh);
    opacity: 0;
  }
}

/* services  */

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-fall-topLeft {
  animation: fallTopLeft 5s linear infinite;
}

.animate-fall-topRight {
  animation: fallTopRight 5s linear infinite;
}

/* Background */
.bg-space {
  background: url("https://hebbkx1anhila5yf.public.blob.vercel-storage.com/9770934.jpg-Wl31ERQfbntJABIblVId5PIBjqP5Gx.jpeg")
    no-repeat center center/cover;
}

/* UFO */
.ufo {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation:
    float 6s ease-in-out infinite,
    tilt 6s ease-in-out infinite;
}

/* contact  */
.contact {
  background: url("img/banner/contact.png");
  background-size: cover;
  background-position: center;
  /* box-shadow: inset 0 0 100px 85px var(--theme); */
  box-shadow: inset 0px 0px 31px 13px var(--theme);
  height: 100vh;
}

.options {
  color: rgb(189 129 232);
}

.options *:not(:first-child) {
  color: black;
}

/* .iframe{
   -moz-transform: scale(0.5);
   -webkit-transform: scale(0.5);
   transform: scale(0.5);
   transform-origin: top left;
   scrollbar-width: none;
}

iframe::-webkit-scrollbar{
   display: none;
} */

/* profile page  */
.bg-img-projects {
  box-shadow: inset 0 0 100px 85px var(--theme);
}

/* home card */
.card {
  /* border: 1px solid; */
  background-color: var(--theme);
  box-shadow: 1px 5px 5px black;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.card:hover {
  transform: translate3d(0px, -10px, 10px);
}

.lists li {
  list-style: none;
  margin: 15px 0;
}

.featured-project {
  transition: 0.2s ease-in-out;
}

.featured-project:hover {
  transform: translateY(-3px);
}

/* navbar link */
.pageLinks {
  transition: all ease 0.3s;
}

/* services  */

/* .services::-webkit-scrollbar {
   background: var(--theme);
   height: 10px;
   margin: 20px 20px;
}

.services::-webkit-scrollbar-thumb {
   background: gray;
   border: 2px solid black;
   border-radius: 8px;
}

.services {
  will-change: transform;
   animation: slide 10s linear infinite;
   animation-delay: 2s; 
} */

.card-grp {
  display: inline-flex;
  flex-shrink: 0;
  gap: 30px;
}

.service-for {
  width: 442px;
  height: 222px;
  padding: 40px;
  background-color: var(--theme);
  box-shadow: 1px 5px 5px black;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}

.card-bg {
  filter: brightness(50%);
}

.rightcard::-webkit-scrollbar {
  display: none;
}
/* footer  */
@media (max-width: 768px) {
  .left {
    justify-self: start;
  }
}
@media (min-width: 768px) {
  .quickLinks {
    margin-left: 2rem;
  }
}

/* about us  */
.membercard {
  /* border: 1px solid; */
  background-color: var(--theme);
  box-shadow: 1px 5px 5px black;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.membercard:hover {
  box-shadow: inset 1px 5px 5px black;
}

/* Responsive  */
/* home page  */

@media (max-width: 400px) {
  html {
    overflow-x: hidden;
  }

  .home-bg {
    height: 70vh;
  }

  .home-banner {
    margin-top: 90px;
  }

  .home-banner h2 {
    font-size: 14px;
  }
  .home-banner p {
    font-size: 8px;
  }

  .home-banner-btn {
    padding: 5px;
    font-size: 10px;
    width: 99px;
    border-radius: 19px;
    margin-top: 10px;
  }

  .what-we-do h1 {
    font-size: 24px;
    margin: 0 0px 12px 0px;
  }

  .home-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-card div {
    width: 227px;
    padding: 17px;
    height: 182px;
    margin-left: 0px;
  }

  .home-card div h2 {
    font-size: 16px;
  }
  .home-card div p {
    font-size: 8px;
  }

  .home-card div .icon {
    display: flex;
    justify-content: center;
    margin: 1px 0 12px 66px;
    align-items: center;
    width: 28%;
  }

  .home-project {
    height: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .home-project h1 {
    font-size: 20px;
    margin: 0 -4px 35px 0px;
  }

  .home-project div {
    width: 282px;
    height: 214px;
  }

  .home-project div h1 {
    font-size: 15px;
    margin: 15px 0px 0px 12px;
  }
  .home-project div a {
    font-size: 11px;
    margin: 5px 0px 0px 12px;
  }

  .home-end {
    width: 85vw;
    height: 100%;
  }

  .home-end > div {
    margin-left: -17px;
  }

  .home-end > div h1 {
    font-size: 12px;
  }
  .home-end > div ul {
    font-size: 8px;
  }
  .home-end > div ul li {
    margin: 8px 0;
  }

  .home-end-second {
    width: 140px;
    padding: 15px;
    height: 110px;
  }

  .home-end-second h1 {
    margin-bottom: 10px;
  }

  .home-end-second a {
    font-size: 9px;
    width: 71px;
    padding: 9px;
  }

  /* service page */

  .service-main {
    margin-bottom: 5px;
  }

  .service-head {
    width: 159px;
  }

  .service-head h3 {
    font-size: 21px;
  }
  .service-head p,
  .arrow {
    font-size: 10px;
  }

  .arrow {
    height: 14px;
    width: 40px;
    position: relative;
    bottom: 3px;
  }

  .rightcard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 295px;
    margin-right: 27px;
    height: 400px;
  }

  .rightcard > div {
    width: 214px;
    height: 256px;
  }

  .rightcard > div h1 {
    font-size: 15px;
  }

  .rightcard > div p {
    font-size: 10px;
  }

  .right-card-card h2 {
    height: 30px;
    width: 30px;
    font-size: 16px;
  }

  .service-best {
    margin-top: 5px;
  }

  .service-best > h1 {
    margin-bottom: 18px;
    font-size: 18px;
  }

  .service-for {
    padding: 30px;
  }

  .service-for h1 {
    font-size: 15px;
  }

  .service-for li {
    font-size: 12px;
  }

  /* Project page  */

  .project-head h1 {
    font-size: 23px;
  }

  .project-head p {
    font-size: 11px;
  }

  .project-section h1 {
    font-size: 28px;
  }

  .project-section h2 {
    font-size: 19px;
  }

  .project-section h3 {
    font-size: 17px;
  }

  .project-info h1 {
    font-size: 20px;
  }

  .project-info p {
    font-size: 15px;
  }

  /* About page  */

  .our-story {
    padding: 30px;
  }

  .our-story h1 {
    font-size: 21px;
  }

  .our-story p {
    font-size: 16px;
  }

  /* Contact page  */

  .before-reach {
    height: 270px;
    margin-bottom: 160px;
  }

  .form-select div{
    margin: 20px 20px;
  }
  
  .form-select div p,select{
    width: 83px;
    font-size: 18px;
  }

  .form-start{
    margin-bottom: 105px;
  }
}
